@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{font-family: Montserrat;}
/*1. first-line */
.p1::first-line{
    color:red;
    font-style:italic;
    font-weight: bold;
    background-color:blue;
}

/* 2. first-letter  */
.p2::first-letter{
    font-size:100px;
    color:red;
}