p{
    border:2px solid black;;
    margin-right:500px;
    font-size: 50px;
    border-width: 5px;
}
/* Note : Short hand -> border */
#p1{border-style:solid;
    border-color:red green blue ;
}
#p2{border-style:dotted}
#p3{border-style:dashed}
#p4{border-style:double}  
#p5{border-style:solid dotted double dashed}  


